@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Accueil
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        
    </div>
</section>
<!-- /.content -->
