@{
    ViewData["Title"] = "Type Peinture";
}
<!--page level css -->
<link rel="stylesheet" type="text/css" href="~/assets/vendors/datatables/css/dataTables.bootstrap.css" />
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Type Peinture
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left m-t-6">
                        Liste Type Peinture
                    </h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-sm" onclick="addview()" data-toggle="modal" data-target="#addEdit" data-placement="top"><i class="glyphicon glyphicon-plus"></i>  Ajouter</button>
                    </div>
                </div>  
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tblTypePeinture">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>LIBELLE TYPE PEINTURE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Abidjan</td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs" onclick="DeleteRow(2)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                       
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!-- start modal -->
<div class="modal fade" id="addEdit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Nouveau Type Peinture</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control " type="text" placeholder="Libellé Type Peinture" id="LibTypePein">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                    Fermer
                </button>
                <button type="button" class="btn btn-success" id="btnEnregistrer" onclick="AddTypePeinture()">
                    <span class="glyphicon glyphicon-ok-sign"></span> Enregistrer
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /. modal -->

@section Scripts{
    <script>

        $(document).ready(function () {
            debugger
            GetListeTypePeinture();
           // charger_tableau();


            var TblListePeinture = $("#tblTypePeinture").DataTable({

                deferRender: true,
                columns: [
                    { "data": "IdTypePein" },
                    //{ "data": "LibTypePein" },
                    //{ "data": "ACTION" }
                ],
                data:[]


            });


            function GetListeTypePeinture() {
                $.ajax({
                    type: "GET",
                    url: "/Config/GetListTypePeinture",
                    success: function (data) {
                        if (data != null) {
                            debugger
                            $.each(data, function (index, val) {
                                TblListePeinture.row.add([{
                                    "IdTypePein": val.idTypePein,
                                    "LibTypePein": val.libTypePein,
                                    "ACTION": "<button class='btn btn - primary btn-xs'><span class= 'glyphicon glyphicon-pencil'></span></button><button class='btn btn-danger btn-xs' onclick='DeleteRow(2)'><span class='glyphicon glyphicon-trash'></span></button>"

                                }]).draw();
                            });
                        } else {

                        }
                    }
                });
            }

            //$("#AddTypePeinture").click(function () {
            //    alert("hello");
            //});

           

        });


       

        function addview() {
            $("#m_modal_4").modal('show');
            $("#Editer").hide();//cache/affiche le Titre du modal
            $("#Nouveau").show();//cache/affiche le Titre du modal

            $("#idGt").hide();//cache le champ id
            $("#updaterecord").hide();//cache le bouton Enregistrement de Modification
            $("#submitdata").show();
            viderForm();
            return false;
        }

        function editview() {
            $("#m_modal_4").modal('show');
            $("#Editer").show();//cache/affiche le Titre du modal
            $("#Nouveau").hide();//cache/affiche le Titre du modal

            $("#idGt").hide();//cache le champ id
            $("#updaterecord").show();//cache le bouton Enregistrement de Modification
            $("#submitdata").hide();
            return false;
        }

        //vider les champs du formulaires
        function viderForm() {
            $(".form-control").val('');
            return false;
        }




        function AddTypePeinture() {
            debugger
            var typePeinture = $("#LibTypePein").val();
            if (typePeinture) {
                $.ajax({
                    type: "GET",
                    url: "/Config/AddTypePeinture",
                    data: { "value": JSON.stringify(typePeinture) },
                    success: function (data) {
                        debugger
                        if (data) {
                            if (data == true) {
                                swal({
                                    title:"Enregistrement type peinture",
                                    text: "Enregistrement effectué avec succès",
                                    type: "success"

                                }).then(function () {
                                    $("#LibTypePein").empty();
                                    p("#addedit").modal('hide');
                                    });
                            } else {
                                swal({
                                    title: "Enregistrement type peinture",
                                    type: "Error",
                                    text:"Echec de l'opération"
                                });
                            }
                        } else {
                            $("#addEdit").modal('hide');
                        }
                    }
                });
                
            } else {
                swal({
                    title: "Enregistrement type peinture",
                    type: "Error",
                    text: "Veuillez remplir tous les champs svp"
                });
            }
        }
       




        //function AddTypePeinture() {
        //    debugger
        //    alert("hello");


        //}

    </script>


    @*========================FONCTION TOUS LES EVENNEMENTS============================*@
    <script>


        //$("#test").click(function () {
        //    debuger
        //    alert("hello");
        //});














  
    </script>
}